{
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/standard",
    "plugin:react/recommended"
    ],
  "plugins": [
    "import",
    "prettier",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
      },
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "space-before-function-parent": 0,
    "new-cap": 0,
    "prettier/prettier": 2,
    "indent": ["error", 4, {"ignoredNodes": ["JSXElement"]}],
    "react/jsx-indent": ["error", 4]
  }
}
